body{
	margin: 0;
	padding: 0;
	background-color: rgb(253, 228, 193);
	display:flex;
    flex-direction: column;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
    font-size: 2rem;
	background-image: url(media_files/mgto_graphic_chinese_dish_02.avif)
}

.toptitle {
    width: 10000rem;
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
    padding-top: 1rem;
    background-color: #68C7C1;
    position: absolute;
    top: 0;
    color: #ffffff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.12);
}

a {
    position: absolute;
    text-align: center;
    padding-top: 20px;
	top: 80%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: #ffffff;
	font-size:20px;
	color:#68C7C1;
	width: 200px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
    border: 2px #ffffff;
    text-decoration: none;

}

a:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.12);
}